body{
  background-color: #393E46;
}

h1,p{
  color: #4ECCA3;
}

.result{
  font-family: 'Lobster' ,cursive;
  font-size: 8rem;
  color: #4ECCA3;
  text-align: center;
  text-shadow: 5px 0 #232931;
}

.mainContainer{
  text-align: center;
}

.player1,.player2{
  margin: auto;
  margin-left: 40px;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 2rem;
}

footer{
  text-align: center;
  font-family: "Indie Flower" ,cursive;
  font-size: 1.2rem;
  color: #FFF;
}
